---
layout: default
---

<div class="home">
  
  <ul class="post-list">
    {% for post in paginator.posts %}
    <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul> 
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination"> 
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">PREV</a>
  {% else %}
    <span>PREV</span>
  {% endif %}

  
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">NEXT</a>
  {% else %}
    <span>NEXT</span>
  {% endif %}
</div>
{% endif %}
