<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        
      </a>

      <div class="trigger">
        {% for page in site.pages %}
          {% if my_page.title and my_page.autogen == nil %}
          <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {% endif %}
          {% endfor %}
      </div>
    </nav>

  </div>

</header>
