.site-header {
    height: 55px;
    background-color: #502828;
    position: relative;
    width: 100%;
 }

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left; 
    
    &, 
    &:visited {
        color: $text-color5;
    }    
} 

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color2;
        line-height: $base-line-height;    
        
        &:hover {
        color: $text-color4;
        
        }    
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}


.footer {
        padding-bottom: 3em;
        margin: auto;
        font-size: 12px;
        font-family: Sans;
        color: #ffffff;
    }

    .footer.center {
      text-align: center;
    }

    .footer.center > * {
      margin: 0 auto;
    }


.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 20px;
}


.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


.pagination a, .pagination span {
    font-size: 15px;
    padding: 1px 7px;
    border: 1px solid #0080ff;
    border-radius: 8px;
    margin-left: -2px;
    margin-right: -2px;
    display: inline-block;
  }

.pagination a {    
    &:hover {
        background-color: #fff;
        color: #000;
    }
 }

.pagination {
    text-align: center;
 }


.button-download,
.button-github {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
 }

        .button-small {
            font-size: 75%;
        }

        .button-download {
            background: rgb(28, 184, 65);
        }
    
        .button-github {
            background: rgb(223, 117, 20);
        }
